aiohttp==3.13.0
async-timeout==5.0.1
Cython==3.1.2
pandas==2.3.3
requests==2.32.5
numpy==2.3.4
PySide6==6.10.0
cryptography==46.0.2
aiolimiter==1.2.1
radix-engine-toolkit==2.2.2
mnemonic==0.21
bip_utils==2.9.3
cairocffi==1.7.1
segno==1.4.1
qrcode-artistic==3.0.2
pillow==10.4.0
matplotlib==3.10.7
mplfinance==0.12.10b0
nocairosvg==2024
platformdirs==4.9.2